p{
    display: inline-block;
    width: 400px;
    font-weight: 200;
}
.nom{
    display: inline-block;
    width: 400px;
    font-weight: bold;
}
header{
    background-color: #3949ab;
    color: white;
    text-align: center;
    padding: 16px;
}

.info{
    background-color: #f06292;
    color: black;
    text-align: center;
    font-weight: 700;
    padding: 10px;
}

.info1{
    width: 960px;    
    margin-left: auto;
    margin-right: auto;
    
}
.info2{
    width: 960px;    
    margin-left: auto;
    margin-right: auto; 
    height: 200px ;
    margin-top: 70px;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

h3{
    font-size: 36px;
    font-weight: 700;
}

dt{
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 36px;
    margin-bottom: 12px;

}

dd{
    margin: 0;
}

ul{
    margin-top: 12px;
    padding: 0;
}

li{
    margin-top: 16px;
}

div.texto{
    display: inline-block;
    width: 68%;
}

div.imagen{
    display: inline-block;
    width:30%;
    margin-top: 15px;
    vertical-align: top;
}